<!DOCTYPE html>
<meta http-equiv="content-type"
        content="application/xhtml+xml; charset=utf-8"/>
<html>
    <head>
        <title>Graph</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <script language = "javascript" src="../static/js/data.js"></script>
        <script language = "javascript" src="../static/js/jquery-1.11.3.js"></script>
        <script language = "javascript" src="../static/js/d3.min.js"></script>
        
        <script language = "javascript" src="../static/js/properties.js"></script>
        <script language = "javascript" src="../static/js/generate_graph.js"></script>
        <script language = "javascript" src="../static/js/script.js"></script>
    </head>
    <body>
        <div id = "container">
               
        </div>
        
    </body>
</html>